{{.SiteDomains}} {
    encode zstd gzip
{{if eq .Type "laravel"}}
{{if eq .WebDriver "fpm"}}
    root * {{quote (printf "%s/public" .Directory)}}
    php_fastcgi unix/{{.FPMSocket}}
    file_server {
        precompressed br gzip
    }
{{else}}
    reverse_proxy 127.0.0.1:{{.OctaneHTTPPort}}
{{end}}
{{else}}
    reverse_proxy 127.0.0.1:{{.NuxtHTTPPort}}
{{end}}
}
{{range .Aliases}}
{{.}} {
    redir https://{{$.Domain}}{uri} permanent
}
{{end}}
