[Unit]
Description=Sites {{.Name}} Nightwatch agent
After=network.target

[Service]
Environment=PATH=/usr/local/bin:/usr/bin:/bin
UMask=0027
User={{.User}}
WorkingDirectory={{unitPath .Directory}}
EnvironmentFile={{unitPath .ManagedEnvironmentFile}}
ExecStart={{unit .PHPBinary}} artisan nightwatch:agent --listen-on=127.0.0.1:{{.NightwatchIngestPort}} --no-interaction
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
