# Draft: sites-{{.Name}}-nuxt.service
[Unit]
Description=Sites {{.Name}} Nuxt SSR
After=network.target

[Service]
User={{.User}}
WorkingDirectory={{.Directory}}
EnvironmentFile={{.ManagedEnvironmentFile}}
Environment=NITRO_HOST=127.0.0.1
Environment=NITRO_PORT={{.NuxtHTTPPort}}
ExecStart={{.NodeBinary}} .output/server/index.mjs
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
