[Unit]
Description=Abr {{.Name}} Nuxt
After=network.target

[Service]
Environment=PATH=/usr/local/bin:/usr/bin:/bin
UMask=0027
NoNewPrivileges=true
CapabilityBoundingSet=
RestrictSUIDSGID=true
ProtectSystem=full
ProtectHome=true
PrivateTmp=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true
User={{.User}}
WorkingDirectory={{unitPath .Directory}}
EnvironmentFile={{unitPath .ManagedEnvironmentFile}}
Environment=NITRO_HOST=127.0.0.1
Environment=NITRO_PORT={{.NuxtHTTPPort}}
ExecStart={{unit .NodeBinary}} --env-file-if-exists=.env .output/server/index.mjs
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
