[sites-{{.Name}}]
user = {{.User}}
group = {{.User}}
listen = {{.FPMSocket}}
listen.owner = caddy
listen.group = caddy
listen.mode = 0660
pm = ondemand
pm.max_children = 5
pm.process_idle_timeout = 10s
chdir = {{quote .Directory}}
clear_env = yes
{{.FPMEnvironment}}
