; Draft: sites-{{.Name}}.conf
[sites-{{.Name}}]
user = {{.User}}
group = {{.Group}}
listen = {{.FPMSocket}}
listen.owner = {{.CaddyUser}}
listen.group = {{.CaddyGroup}}
listen.mode = 0660
pm = ondemand
pm.max_children = {{.FPMMaxChildren}}
pm.process_idle_timeout = 10s
chdir = {{.Directory}}
