[Unit]
Description=Sites {{.Name}} scheduler

[Service]
Environment=PATH=/usr/local/bin:/usr/bin:/bin
UMask=0027
Type=oneshot
User={{.User}}
WorkingDirectory={{unit .Directory}}
EnvironmentFile={{unit .ManagedEnvironmentFile}}
ExecStart={{unit .PHPBinary}} artisan schedule:run --no-interaction
