[Unit]
Description=Abr {{.Name}} scheduler

[Service]
Environment=PATH=/usr/local/bin:/usr/bin:/bin
UMask=0027
Type=oneshot
User={{.User}}
WorkingDirectory={{unitPath .Directory}}
EnvironmentFile={{unitPath .ManagedEnvironmentFile}}
ExecStart={{unit .PHPBinary}} artisan schedule:run --no-interaction
